
body {
  padding: 2em 0 0;
  margin: 0 auto;
  max-width: 60em;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  padding: 0 $header-height;
  z-index: 100;
  background: white;
  border-bottom: thin solid #ddd;
  transition: all 300ms ease;

  &.scrolled {
    transform: translateY(-100%);
  }

  button {
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    text-indent: -9999px;
    background: transparent;
    border-radius: 0;
    padding: 0;
    outline: 0;
    overflow: hidden;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .75;

    &:active {
      opacity: 1;
    }
  }

  .search-form {
    position: relative;

    input {
      height: $header-height;
      border-radius: 0;
      padding: 0 $header-height 0 0;
      border: 0;
      appearance: none;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../images/search.svg);
    }
  }

  .toc-toggle,
  .menu-toggle {
    position: absolute;
    top: 50%;
    margin-top: -1.75em;
  }

  .toc-toggle {
    left: 0;
    background-image: url(../images/menu.svg);
  }

  .menu-toggle {
    right: 0;
    background-image: url(../images/settings.svg);
  }
}

.logo {
  margin: .5em 0 .75em;
  line-height: 1em;
  font-size: 3em;
  text-align: center !important;
  font-variant: small-caps;

  &:first-letter {
    margin-right: -0.05em;
  }

  em {
    display: inline-block;
    font-style: normal;
    opacity: .5;
    margin-left: -0.05em;
  }
}

input, textarea, button, select {
  display: block;
  font-size: 100%;
  font-family: inherit;
  color: #444;
  box-sizing: border-box;
  width: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

  &:focus {
    outline: 0;
  }
}

button {
  border: 0;
  padding: 0.5em .75em;
  background: #ddd;
  cursor: pointer;
  line-height: 1.5em;
}

select {
  display: block;
  width: 100%;
  height: 2.5em;
  border: 0;
  background-color: white;
  text-indent: .25em;
}

textarea {
  padding: 1em;
  background-color: whitesmoke;
  font-family: monospace;
  overflow: auto;
  text-align: left;
  min-height: 12em;
  resize: vertical;
  outline: 0;
  border: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.radio span {
  display: table-cell;
  width: 100em;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    appearance: none;

    &:checked + label {
      background: #444;
      color: white;
    }
  }

  &:first-child label {
    border-radius: .5em 0 0 .5em;
    border-left-width: 0;
  }

  &:last-child label {
    border-radius: 0 .5em .5em 0;
  }

  label {
    display: block;
    padding: .5em .75em;
    background: #ddd;
    text-align: center;
    border-left: thin solid #bbb;
  }
}

.container {
  position: relative;
  padding: 2em 4em 4em;
}

#menu {
  background-color: white;
  padding: 1.5em;
  box-sizing: border-box;
  max-width: 100%;
  overflow: auto;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  max-width: 100%;
  z-index: 1000;
  transform: translateX($sidebar-width);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h3 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      margin: 1em 0;
    }
  }

  label {
    display: block;
    font-size: 75%;
    font-weight: 400;
    margin: 0 0 .5em;
  }

  small {
    color: #888;
    font-size: 60%;
    line-height: 1.45em;
  }

  input, button, select {
    border: 0;
  }

  @media screen {
    display: block;
  }
}

#menu, #toc, .push {
  transition: transform 300ms ease;
}

.toc-active #toc {
  transform: translateX(0);
  box-shadow: 1px 0 1em 0 rgba(black, 0.2);
}

.menu-active #menu {
  transform: translateX(0);
  box-shadow: -1px 0 1em 0 rgba(black, 0.2);
}

.menu-overlay {
  position: fixed;
  padding: 0;
  top: -100px;
  left: -100px;
  width: 0;
  height: 0;
  background-color: rgba(black, 0.25) !important;
  overflow: hidden;
  text-indent: -999999px;
  cursor: pointer;
  opacity: 0;
  border-radius: 0;
  transition: opacity 300ms ease;
  z-index: 500;
}

.toc-active, .menu-active {
  .menu-overlay {
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 100%;
  }
}

small {
  display: block;
  margin-top: .5em;
}

.blurb {
  font-size: 1.125em;
  line-height: 1.45em;
  margin: 0 0 .5em;
}

footer {
  max-width: 100px;
  margin: 3em auto 1em;
  padding-top: 2em;
  border-top: thin solid rgba(black, 0.2);
  text-align: center;

  small {
    margin-top: 1.5em;
    font-size: 1.125em;
  }
}

.loading {
  body {
    display: none;
  }

  &:before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -.5em;
    font-size: 3em;
    border: 2px solid transparent;
    border-radius: 50%;
    border-right-color: #444;
    z-index: 100;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 100000px rgba(255, 255, 255, 0.5);
    animation: spin .75s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.home-link {
  width: 1.25em;
  overflow: hidden;
  display: block;
  margin: 0 auto 1em;
  background-size: 5em;
  text-indent: -9999px;
  position: relative;
  font-size: 1.5em;
  font-family: $serif-stack;

  &:before {
    content: 'W';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.5em;
    width: 1em;
    text-indent: 0;
  }
}

.initial {
  body {
    max-width: 500px;
    margin: auto;
    text-align: center;

    a {
      color: inherit;
      font-family: "Playfair Display", $serif-stack;
    }
  }

  .page-header {
    position: relative;
    transform: none !important;
    border: 0;
    padding: 0 2em;
    max-width: 400px;
    margin: auto;

    input, button {
      height: 3em;
      line-height: 3em;
    }

    input {
      padding-left: 0;
      border-bottom: thin solid rgba(black, 0.2);
    }

    button {
      width: 3em;
    }
  }

  #content form {
    margin-bottom: 2em;
  }

  #toc-toggle,
  #menu-toggle,
  footer form,
  footer .home-link {
    display: none;
  }

  footer {
    margin-top: 1.5em;
  }

  @media (min-height: 600px) and (min-width: 600px) {
    #menu {
      display: none;
    }

    body {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 600px) {

  #content {
    font-size: 1em;
  }

  .logo {
    margin-top: 0.5em;
  }

  footer {
    margin-bottom: 0;

    br {
      display: none;
    }
  }

  .container {
    padding: 2em;
  }
}
