html {
  font-size: 100%;
  font-family: $serif-stack;
  line-height: 1.5em;
  color: #222;
  -webkit-text-size-adjust: none;
}

#content {
  font-size: 1.25em;
  line-height: 1.75em;
  counter-reset: section;

  h2 {
    margin: 0;
    counter-increment: section;

    .mw-headline {
      display: block;
      position: relative;
      padding: 1em 0;
      margin: 2em 0;

      &:before {
        content: counter(section) ".";
        display: block;
        font-size: 75%;
        font-weight: normal;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1.5em;
        margin-left: -0.75em;
        border-bottom: thin solid;
      }
    }
  }

  h3 {
    margin: 1em 0 2em;

    .mw-headline {
      display: block;
      text-align: center;
      padding-top: 1em;
    }
  }

  > .hatnote:first-child,
  > .hatnote:first-child + div.hatnote {
    text-align: center;
  }

  @supports (-webkit-hyphens: auto) {
    text-align: justify;
    -webkit-hyphens: auto;
  }
}

.serif-stack {
  font-family: $serif-stack;
}

.sans-stack {
  font-family: $sans-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: 2em 0 1em;
  position: relative;
  line-height: 1.333em;
  font-family: "Playfair Display", $serif-stack;
}

h1, h2 {
  text-align: center;

  + div.hatnote {
    margin: 1em auto;
    text-align: center;
    max-width: 450px;
  }
}

.page-title {
  text-align: center;
  font-size: 2.5em;
  margin: 1em 0;
  cursor: pointer;
}

div.hatnote {
  padding: 0;
  line-height: 1.5em;
}

h1, h2 {
  + div.hatnote {
    margin-top: -2em;
  }
}

a {
  color: dodgerblue;

  &:visited {
    color: mediumpurple;
  }

  &:focus {
    color: black;
    outline: 0;
  }
}

img {
  max-width: 100%;
}

#coordinates {
  position: static;
}

table {
  &.infobox {
    display: none;
    float: none;
    text-align: left;
    font-size: 90%;
    margin: auto;
    border: 0;
    background-color: transparent;


    &.geography,
    &.vcard,
    &.active {
      width: 100% !important;
      margin: 2em auto;
      display: block;
    }

    th {
      background-color: transparent !important;
    }
  }

  &.vertical-navbox {
    margin: 1em auto !important;
    float: none !important;
    border: 0 !important;
    background-color: transparent !important;
    padding: 0 !important;
  }

  &.navbox {
    border: 0;
    padding: 0;
  }

  &.wikitable {
    font-size: 90%;
    border-spacing: 0;
    border-collapse: collapse;

    caption {
      margin: 0 0 .5em;
    }

    th, td {
      padding: .25em .5em;
      border: thin solid #ddd;
    }

    img {
      background-color: white;
    }
  }
}

.tleft {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  clear: left;
}

.tright {
  float: right;
  margin-left: 2em;
  margin-bottom: 1em;
  clear: right;
}

.mw-editsection, .noprint,
.metadata.plainlinks {
  display: none !important;
}

code, pre {
  background-color: whitesmoke;
  border: 0;
  border-radius: .5em;
}

#toc {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5em;
  background-color: white;
  padding: 1.5em;
  box-sizing: border-box;
  max-width: 100%;
  width: $sidebar-width;
  max-width: 100%;
  z-index: 1000;
  transform: translateX(-$sidebar-width);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen {
    display: block;
  }

  h2 {
    margin: 0;
    font-size: 1.2em;
    text-align: left;

    &:before, &:after {
      display: none;
    }
  }

  ul {
    margin: 1em 0;
    padding: 0 0 0 1em;

    ul {
      margin: 0;
    }

    a {
      color: inherit;
    }
  }

  > ul {
    padding: 0;
  }

  &.active {
    display: block;
    transform: translateX(0);
  }

  li {
    position: relative;
    list-style: none;

    &.toclevel-1 {
      margin: 0 0 .5em;
    }
  }

  .tocnumber {
    font-size: 75%;

    &:after {
      content: '. ';
    }
  }
}

// Main Page

#mp-other,
#mp-sister, #mp-lang {
  display: none;
}

#mp-topbanner {
  background: transparent !important;
  border: 0 !important;

  td {

    &:first-child {
      display: none;
    }
  }
}

#mp-tfa ul,
#mp-tfp ul {
  text-align: center !important;
  padding: 0;
}

td.MainPageBG,
table#mp-upper,
table#mp-upper tbody,
table#mp-upper tr,
table#mp-upper tr td,
#mp-tfp table,
#mp-tfp table tbody,
#mp-tfp table tr,
#mp-tfp table tr td,
table#mp-middle,
table#mp-middle tbody,
table#mp-middle tr,
table#mp-middle tr td,
table#mp-lower,
table#mp-lower tbody,
table#mp-lower tr,
table#mp-lower tr td {
  display: block;
  width: 100% !important;

  .mw-headline {
    text-align: center;
    &:before {
      display: none;
    }
  }
}

#mp-tfp td img {
  height: auto;
  display: block;
  margin: 1em auto;
}

#mp-upper table,
#mp-upper td,
table#mp-middle td, table#mp-middle td table,
td.MainPageBG, td.MainPageBG table,

#content table h2 {
  background-color: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 0 .25em !important;
  color: inherit !important;
}

#content table h2 {
  margin: 0 0 .25em !important;
}

#content table h2 span {
  margin: 0;
  padding: 0;
}


.thumb {
  &.tright, &.tleft {
    float: none;
    text-align: center;
    margin: 2em auto;
  }

  .thumbinner {
    margin: auto;
  }

  .thumbcaption {
    font-size: 75%;
    line-height: 1.5em;
  }
}

@media (max-width: 640px) {
  .tright, .tleft {
    float: none;
    width: 100%;
    margin: 2em 0;
  }

  .thumbinner, .thumbinner div {
    display: block;
    margin: auto;
    width: auto !important;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
