
.main_page {
  $left-column-width: 33.333%;
  $padding: 3em;

  .page-title, footer {
    display: none;
  }

  .container {
    padding: 0;
    max-width: 100%;
    padding-left: $left-column-width;
  }

  #content {
    font-size: 1em;

    .mw-headline {
      margin: 0;
      text-align: left;
      font-weight: 100;
      font-size: 18px;
      font-family: $title-stack;

      &:before, &:after {
        display: none !important;
      }
    }
  }

  table, tbody, tr, td {
    display: block;
    width: auto !important;
    margin:  0 !important;
    padding: 0 !important;
    border: 0 !important;
    color: inherit !important;
    background: transparent !important;
  }

  #mp-topbanner {
    margin: 0 !important;
    display: none !important;
  }

  #mp-upper {
    margin: 0 !important;
  }

  #mp-tfa,
  #mp-right {
    position: absolute;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  #mp-tfa {
    display: block;
    padding: 2em $padding !important;
    left: 0;
    height: calc(100vh - 55px);
    width: $left-column-width !important;
    color: white !important;
    background: black !important;
    overflow: hidden;

    a {
      color: white !important;

      &:hover {
        text-decoration: underline;
      }
    }

    > * {
      position: relative;
      z-index: 10;
    }

    > ul {
      text-align: center !important;
      position: absolute;
      bottom: 2em;
      left: 0;
      right: 0;
      padding: 0 2em;

      .hlist {
        display: block;
        font-size: 14px;
      }
    }

    b:first-of-type {
      font-size: 1.25em;
      font-variant: small-caps;
    }

    > p {
      max-height: 50vh;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 3em;
      line-height: 1.667em;
      text-align: justify;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(white 50%, transparent);
      -webkit-background-clip: text;
      // max-width: 600px;
      margin: 1em auto;
    }

    > #mp-tfa-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      margin: 0 !important;
      z-index: 0;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      opacity: .6;

      a {
        display: none;
        pointer-events: none;
      }

      img {
        display: block;
        height: 100vh;
        width: auto !important;
        max-width: 10000000px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .5;
      }
    }
  }

  #mp-right {
    left: $left-column-width;
    right: 0;
    width: (100% - $left-column-width) !important;
    height: calc(50vh - 27.5px);
  }

  #mp-middle, #mp-lower {
    position: absolute;
    top: calc(50vh - 27.5px);
    height: calc(50vh - 27.5px);
    margin: 0 !important;
    overflow: auto;
    box-sizing: border-box;
    width: (100% - $left-column-width) / 2 !important;
  }

  #mp-middle {
    padding: $padding !important;
    left: $left-column-width;
    border-right: thin solid #eee !important;
  }

  #mp-lower {
    right: 0;
  }

  #mp-other, #mp-sister, #mp-lang {
    display: none;
  }

  #mp-itn, #mp-otd, #mp-dyk {
    padding: 2em $padding;
    padding-bottom: 0;

    i {
      display: none;
    }

    @media (min-width: 900px) {
      float: left;
      width: 50% !important;
      overflow: auto;
      height: calc(50vh - 27.5px);
      box-sizing: border-box;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 15px;
      line-height: 1.5em;

      li {
        padding: .75em 0;
        border-top: thin solid #eee;

        &:first-child {
          border-top: 0;
          padding-top: 0;
        }
      }

      &.hlist li {
        border: 0;
        padding: 0;
      }
    }
  }

  #mp-tfa-h2,
  #mp-itn-h2, #mp-otd-h2, #mp-dyk-h2,
  #mp-itn-img, #mp-otd-img, #mp-dyk-img, #mp-tfl-img {
    display: none;
  }

  @media (min-width: 900px) {
    #mp-dyk {
      position: fixed;
      left: $left-column-width;
      width: $left-column-width !important;
      height: calc(50vh - 27.5px);
      bottom: 0;
      z-index: 1000;
    }

    #mp-middle {
      display: none;
    }
  }

  #mp-right {
    border-bottom: thin solid #ddd !important;
  }

  #mp-dyk, #mp-itn {
    border-right: thin solid #ddd;
  }

  #mp-otd > p {
    margin-top: 0;
    line-height: 1.5em;
  }


  #mp-tfa:before,
  #mp-itn:before,
  #mp-otd:before,
  #mp-dyk:before {
    display: block;
    margin: 0 0 1.5em;
    font-family: $title-stack;
    position: relative;
    z-index: 10;
    text-align: center;
  }

  #mp-tfa:before {
    content: "Today's featured article...";
  }

  #mp-dyk:before {
    content: 'Did you know...';
  }

  #mp-itn:before {
    content: 'In the news...';
  }

  #mp-otd:before {
    content: 'On this day...';
  }

  #content #mp-tfp-h2 {
    position: absolute;
    left: 0;
    right: 0;
    color: white !important;
    text-align: left;
    text-shadow: 0 1px 30px rgba(black, .5);

    .mw-headline {
      font-size: 16px;
      padding: 2em;
      text-align: center;
    }
  }

  #mp-tfp {
    img {
      width: 100%;
      height: auto;
    }

    tr a img {
      display: block;
    }

    p {
      padding: .5em 2em !important;
    }
  }

  #mp-tfl {
    padding: 0 !important;
  }

  #mp-tfp,
  #mp-tfl {
    ul {
      font-size: 90%;
      padding: 0;
      text-align: center !important;

      .hlist {
        display: block;
        font-size: 125%;
      }
    }
  }

  #content #mp-tfl-h2 .mw-headline {
    text-align: left;
    font-family: $title-stack;
    font-size: 16px;
    padding: 0;
  }


  #mp-tfa-h2 {
    position: relative;
    z-index: 10;
    margin: 0 !important;
  }


  @media (max-width: 900px) {

    #mp-tfa, #mp-right {
      position: relative;
      width: 100% !important;
      left: auto;
      right: auto;
      height: auto !important;
    }

    #mp-tfa {
      height: 480px !important;
      width: 100% !important;
      overflow: hidden;

      > p {
        max-height: 256px;
      }
    }

    .container {
      padding: 0;
    }

    #mp-tfa>#mp-tfa-img img {
      height: auto;
      width: 100% !important;
    }

    #mp-middle, #mp-lower {
      position: relative;
      left: auto;
      width: 100% !important;
      height: auto !important;
      top: auto;
    }
  }

  @media (min-width: 700px) and (max-width: 900px) {
    .main_page #mp-itn, .main_page #mp-otd {
      float: left;
      width: 50%;
      box-sizing: border-box;
      border-top: thin solid #ddd;
      margin-top: 0;
      position: relative;
    }

    .main_page #mp-dyk ul li {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      border: 0;
      padding: 1em 2em !important;
      box-sizing: border-box;
    }

    .main_page #mp-dyk ul {
      margin: 0 -2em;
    }

    .main_page #mp-itn, .main_page #mp-otd,
    .main_page #mp-middle {
      border: 0 !important;
    }
  }
}
