
.main_page {
  $padding: 3em;

  #header-image, .page-title, footer {
    display: none;
  }

  .container {
    padding: 0;
    padding-bottom: $padding;
    max-width: 100%;
  }

  .tfa-recent {
    margin-top: 30px;
  }

  .potd-recent, .tfa-recent {
    text-align: center !important;

    ul {
      display: block;
    }
  }

  #content {
    font-size: 1em;

    #mp-right {
      margin: auto !important;
      max-width: 800px;
    }

    .mw-headline {
      margin: 0;
      text-align: left;
      font-weight: 100;
      font-size: 18px;
      font-family: $title-stack;

      &:before, &:after {
        display: none !important;
      }
    }
  }

  table, tbody, tr, td {
    display: block;
    width: auto !important;
    margin:  0 !important;
    padding: 0 !important;
    border: 0 !important;
    color: inherit !important;
    background: transparent !important;
  }

  #mp-topbanner {
    margin: 0 !important;
    display: none !important;
  }

  #mp-upper {
    margin: 0 !important;
  }

  #mp-tfa {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 2em $padding !important;
    box-sizing: border-box;

    &.has-bg-image {
      color: white !important;
      background: #334 !important;

      a {
        color: white !important;
      }

      > p {
        max-height: 300px;
        max-width: 480px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 3em;
        line-height: 1.667em;
        text-align: justify;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(white, transparent 60%);
        -webkit-background-clip: text;
        // max-width: 600px;
        margin: 1em auto;
      }

      > #mp-tfa-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        margin: 0 !important;
        z-index: 0;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        opacity: .6;

        .thumbcaption {
          display: none;
        }

        a {
          display: none;
          pointer-events: none;
        }

        img {
          display: block;
          height: 100vh;
          width: auto !important;
          max-width: 10000000px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: .5;
        }
      }
    }

    > * {
      position: relative;
      z-index: 10;
    }

    > ul {
      text-align: center !important;
      position: absolute;
      bottom: 2em;
      left: 0;
      right: 0;
      padding: 0 2em;

      .hlist {
        display: block;
        font-size: 14px;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    b:first-of-type {
      font-size: 1.25em;
      font-variant: small-caps;
    }
  }

  #mp-other, #mp-sister, #mp-lang {
    display: none;
  }

  #mp-itn, #mp-otd, #mp-dyk {
    padding: 2em;

    // @media (min-width: 900px) {
    //   float: left;
    //   width: 50% !important;
    //   overflow: auto;
    //   height: calc(50vh - 27.5px);
    //   box-sizing: border-box;
    // }

    ul {
      padding: 0;
      margin: 1em auto !important;
      list-style: none;
      font-size: 15px;
      line-height: 1.5em;

      li {
        padding: .75em 0;
        border-top: thin solid #eee;

        &:first-child {
          border-top: 0;
          padding-top: 0;
        }
      }
    }

    ul, p {
      margin-left: auto;
      margin-right: auto;
      max-width: 480px;
    }

    .hlist li {
      border: 0 !important;
      padding: 0;
    }
  }


  @media (min-width: 768px) {
    #mp-itn { float: left; }
    #mp-otd { float: right; }

    #mp-itn,
    #mp-otd {
      box-sizing: border-box;
      width: 50%;

      ul {
        max-width: 50vw;
      }
    }
  }

  #mp-dyk {
    ul li {
      border: 0 !important;
      text-align: center;
      padding: 1em !important;
    }
  }

  #mp-tfa-h2,
  #mp-itn-h2, #mp-otd-h2, #mp-dyk-h2 {
    display: none;
  }

  #mp-itn .itn-img, #mp-dyk .dyk-img,
  #mp-itn-img, #mp-otd-img, #mp-dyk-img, #mp-tfl-img {
    float: none !important;
    margin: auto !important;
    width: auto !important;

    .thumbinner {
      text-align: center;
      max-width: 100% !important;

      .thumbcaption {
        font-size: 90%;
      }

      img {
        display: block;
        margin: auto;
      }
    }
  }

  // @media (min-width: 900px) {
  //   #mp-dyk {
  //     position: fixed;
  //     left: $left-column-width;
  //     width: $left-column-width !important;
  //     height: calc(50vh - 27.5px);
  //     bottom: 0;
  //     z-index: 1000;
  //   }
  //
  //   #mp-middle {
  //     display: none;
  //   }
  // }


  #mp-otd > p {
    margin-top: 0;
    line-height: 1.5em;
    text-align: center;
  }


  #mp-tfa:before,
  #mp-itn:before,
  #mp-otd:before,
  #mp-dyk:before {
    display: block;
    margin: 0 0 1.5em;
    font-family: $title-stack;
    font-size: 1.5em;
    line-height: 1.25em;
    position: relative;
    z-index: 10;
    text-align: center;
  }

  #mp-tfa:before {
    content: "Today's featured article...";
  }

  #mp-dyk:before {
    content: 'Did you know...';
  }

  #mp-itn:before {
    content: 'In the news...';
  }

  #mp-otd:before {
    content: 'On this day...';
  }

  #mp-lower {
    clear: both;
  }

  #content #mp-tfp-h2 .mw-headline {
    padding: 2em 0;
    text-align: center;
  }

  #mp-bottom {
    padding-bottom: 3em !important;
  }

  #mp-tfp {
    img {
      width: 100%;
      height: auto;
    }

    tr a img {
      display: block;
    }

    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 480px;
      padding: 1.5em 2em !important;
    }
  }

  #mp-tfl {
    padding: 0 !important;
  }

  #mp-tfp,
  #mp-tfl {
    ul {
      font-size: 90%;
      padding: 0;
      text-align: center !important;

      .hlist {
        display: block;
        font-size: 125%;
      }
    }
  }

  #content #mp-tfl-h2 .mw-headline {
    text-align: left;
    font-family: $title-stack;
    font-size: 16px;
    padding: 0;
  }


  #mp-tfa-h2 {
    position: relative;
    z-index: 10;
    margin: 0 !important;
  }

  // @media (min-width: 700px) and (max-width: 900px) {
  //   #mp-itn, #mp-otd {
  //     float: left;
  //     width: 50%;
  //     box-sizing: border-box;
  //     border-top: thin solid #ddd;
  //     margin-top: 0;
  //     position: relative;
  //   }
  //
  //   #mp-itn, #mp-otd,
  //   #mp-middle {
  //     border: 0 !important;
  //   }
  // }
}
