
html.sans {
  font-family: $sans-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
  }
}

.dark {
  background: #111;
  color: #eee;

  .radio span {
    label {
      background: #333;
      border-left-color: white;
    }

    input:checked + label {
      background: #eee;
      color: black;
    }
  }

  .infobox {
    color: #eee;
  }

  code, pre {
    background-color: #333;
  }

  table {
    background-color: transparent !important;
  }

  .page-header {
    border-color: #333;
  }

  .page-header, #custom-styles,
  input, textarea, button, select {
    background-color: black;
    color: #bbb;
  }

  a {
    color: darkorange;
  }

  #menu, #toc {
    background-color: #222;
  }

  .menu-overlay {
    background: rgba(0,0,0,0.5) !important;
  }

  #menu-toggle, #toc-toggle,
  .page-header .search-form button {
    background-color: transparent;
    filter: invert(100%);
  }

  .loading:before {
    border-right-color: #ddd;
    background: black;
    box-shadow: 0 0 0 100000px black;
  }

  img {
    opacity: .75;
  }

  .navbox-list {
    border-color: black;
  }

  .navbox, .navbox-subgroup,
  .navbox-abovebelow,
  th.navbox-group,
  .navbox-subgroup .navbox-title {
    background: #222;
  }

  .navbox th,
  .navbox-title {
    background: #444;
  }

  .navbox-even {
    background: #666;
  }

  button {
    background-color: #333;
  }

  .search-form input {
    border-color: #333;
  }
}

.inverted img {
  filter: invert(100%);
  opacity: .5;

  &.mwe-math-fallback-image-inline {
    filter: none;
    opacity: 1;
  }
}
