
$serif-stack: "Cardo", "Crimson Text", "PT Serif", "Lora", serif;
$sans-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$sidebar-width: 18em;

@import "default";
@import "content";
@import "app";
