@import "./default.css";

html {
  font-size: 100%;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.45em;
  color: #444;
  -webkit-text-size-adjust: none;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}

a {
  color: dodgerblue;
}

a:visited {
  color: mediumpurple;
}

table.infobox {
  float: right;
  text-align: left;
  font-size: 90%;
  margin-left: 2em;
  border: 0;
  background-color: transparent;
}

table.vertical-navbox {
  border: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.wikitable {
  font-size: 90%;
  border-spacing: 0;
  border-collapse: collapse;
}

.wikitable caption {
  margin: 0 0 .5em;
}

.wikitable td,
.wikitable th {
  padding: .25em .5em;
  border: thin solid #ddd;
}

.tleft {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  clear: left;
}

.tright {
  float: right;
  margin-left: 2em;
  margin-bottom: 1em;
  clear: right;
}

.reflist {
  font-size: 90%;
}

.mw-headline {
  padding-top: 1em;
  display: block;
}

.mw-editsection, .noprint {
  display: none !important;
}

.metadata.plainlinks {
  display: none;
}

table.navbox {
  border: 0;
  padding: 0;
}

.wikitable img {
  background-color: white;
}

/* App */

input, textarea, button, select {
  font-size: 100%;
  font-family: 'Source Serif Pro', serif;
  color: #444;
  -webkit-text-size-adjust: none;
}

#content {
  padding: 2em;
}

header {
  margin: 1em 0;
  padding: 1em 2em;
}

header > a {
  float: left;
  width: 10%;
  width: 4em;
  line-height: 3em;
}

header > a + #search-form {
  float: right;
  width: 90%;
  width: calc(100% - 4em);
}

#search-form input,
#search-form button {
  height: 2.5em;
  line-height: 2.5em;
}

#search-form input {
  float: left;
  width: 90%;
  padding: 0 .75em;
  width: calc(100% - 6em);
  background-color: transparent;
  border: thin solid #eee;
  border-right-width: 0;
  border-radius: 0.5em 0 0 0.5em;
  -webkit-appearance: none;
  box-sizing: border-box;
}

#search-form button {
  float: right;
  width: 10%;
  width: 6em;
  border: 0;
  background: #ddd;
  padding: 0;
  border-radius: 0 0.5em 0.5em 0;
}


#custom-styles:focus, #toggle-styles:focus {
  outline: 0;
}

#toggle-styles {
  position: relative;
  margin: 1em;
  border: 0;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: .25em;
  line-height: 1.5em;
  padding: 0.5em .75em;
}

#toggle-styles:before {
  content: '\270E';
  font-family: sans-serif;
  font-size: 1.25em;
  vertical-align: middle;
  display: inline-block;
  margin-right: .5em;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#toggle-styles.active:before {
  content: '\00D7';
  position: relative;
  top: -2px;
}

#custom-styles {
  display: none;
  position: relative;
  padding: 1em;
  background-color: whitesmoke;
  font-family: monospace;
  overflow: auto;
  border-radius: .5em;
  text-align: left;
  min-height: 12em;
  resize: vertical;
}

#custom-styles.visible {
  display: block;
}

#theme-changer-container {
  text-align: center;
  padding: 1.5em 0;
  border-top: thin solid #ddd;
  margin: 2em;
}

#theme-changer-container small {
  display: block;
  margin-top: .5em;
}

.loading:before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin: -.5em;
  font-size: 5em;
  border: thin solid transparent;
  border-radius: 50%;
  border-right-color: #444;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 100000px rgba(255, 255, 255, 0.5);
  -webkit-animation: spin .75s linear infinite;
  animation: spin .75s linear infinite;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Themes */

.dark {
  background: black;
  color: #bbb;
}

.dark input, .dark textarea, .dark button, .dark select {
  background: black;
  color: #bbb;
}

.dark a {
  color: darkorange;
}

.dark .loading:before {
  border-right-color: #ddd;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 0 100000px rgba(0,0,0,0.5);
}

.dark img {
  opacity: .75;
}

.dark .navbox-list {
  border-color: black;
}

.dark .navbox, .dark .navbox-subgroup,
.dark .navbox-abovebelow,
.dark th.navbox-group,
.dark .navbox-subgroup .navbox-title {
  background: #222;
}

.dark .navbox th,
.dark .navbox-title {
  background: #444;
}

.dark .navbox-even {
  background: #666;
}

.dark button {
  background: #333 !important;
}

.dark #search-form input {
  border-color: #333;
}

.inverted img {
  -webkit-filter: invert();
  opacity: .5;
}

