.github-link {
  display: block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  text-align: left;
  text-indent: -9999px;
  cursor: pointer;
  background: url(../images/github.svg) no-repeat center;
  background-size: 1.25rem;
}

.home-page .root {
  .blurb {
    text-align: center;
  }

  .page-title {
    margin-bottom: 0;
  }

  .container + .container {
    padding-top: 0;
    margin-top: -1rem;

    .page-title {
      display: none;
    }
  }

  h2 .mw-headline {
    margin: 0;
    font-size: 1.25rem;

    &:before {
      display: none;
    }
  }

  .loading {
    &:before,
    &:after {
      top: 0;
    }
  }

  .page {
    h2 .mw-headline:before {
      display: none;
    }
  }

  table img {
    width: 100%;
  }

  #mp-topbanner {
    width: auto;
    min-width: 0;
    background: none;
    border: 0;
    color: inherit;
    margin-bottom: 1rem;

    > div {
      display: none;
    }

    #mp-portals {
      position: static;
      width: auto;
      margin: 0;
      padding: 0;
      min-width: 0;
      text-align: center;
      white-space: normal;

      &:before {
        content: "Categories";
        display: block;
        font-family: $title-stack;
        margin-bottom: 1rem;
        font-size: 1.25rem;
      }

      li {
        display: inline-block;
        position: static;

        a {
          padding: 0.25rem;
        }
      }
    }
  }

  #mp-upper tr {
    display: flex;
    flex-direction: column;

    td {
      width: 100%;
    }
  }

  @media (min-width: 48rem) {
    #mp-upper {
      tr {
        flex-direction: row;

        td {
          width: 50%;
          flex: 50%;
        }
      }
    }

    #mp-left {
      padding-right: 1.5rem;

      + td {
        display: none !important;
      }
    }

    #mp-right {
      padding-left: 1.5rem;
    }
  }

  #mp-left,
  #mp-right,
  #mp-upper,
  #mp-lower,
  #mp-upper td,
  #mp-lower td,
  #mp-dyk,
  #mp-otd,
  #mp-other-lower,
  #mp-middle,
  #mp-bottom,
  .itn-special {
    display: block;
    background: none;
    color: inherit;
    border: 0;

    .mp-h2 {
      background: none;
      color: inherit;
      border: 0;
    }
  }

  .itn-special {
    text-align: left;
  }

  #mp-otd p:first-child {
    text-align: center;
  }

  #mp-tfa-img img {
    display: block;
    margin: auto;
  }

  #mp-tfp img {
    width: 100%;
  }

  #mp-sister-content .plainlinks tbody {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    tr {
      margin: 1rem;
    }
  }

  #lang > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin-right: 1.5rem;
    }
  }

  #metalink {
    text-align: center;
  }
}
