.container {
  max-width: 48rem;
  margin: auto;
  padding: 2rem 1.5rem;
  text-align: left;

  @media (min-width: 32rem) {
    padding: 3rem;
  }
}

.header .logo {
  display: block;
  position: relative;
  width: $header-height;
  height: $header-height;
  text-indent: -9999px;
  overflow: hidden;
  color: currentColor !important;
  border-right: thin solid rgba(gray, 0.25);
  margin: auto;

  &:visited {
    color: currentColor !important;
  }

  &:before {
    content: "W";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $title-stack;
    text-indent: 0;
    font-size: 1.333rem;
  }
}

.header {
  position: sticky;
  top: 0;
  min-height: $header-height;
  background-color: rgba(white, 0.975);
  border-bottom: thin solid rgba(gray, 0.25);
  transition: all 350ms ease;
  z-index: 5;

  &.scrolled {
    box-shadow: 0 0 1rem rgba(gray, 0.1);
    border-color: transparent;
  }

  &.hidden {
    box-shadow: none;
    transform: translateY(-100%);
  }

  > div {
    flex: 1;
  }
}

.header-tabs {
  border-bottom-width: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-right: $header-height - 0.5rem;
}

.tabs {
  display: flex;
  border-top: thin solid rgba(128, 128, 128, 0.25);
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  .tab-link {
    position: relative;
    line-height: 3.5em;
    font-size: 0.75em;
    font-family: sans-serif;
    border-right: thin solid rgba(128, 128, 128, 0.5);
    border-bottom: thin solid rgba(128, 128, 128, 0.5);
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1 auto;
    min-width: 2em;
    width: 100%;
    transition: all ease 300ms;
    opacity: 0.5;

    a {
      color: currentColor !important;
      text-decoration: none;
      display: block;
      padding: 0 1.5rem 0 1rem;
    }
  }

  .tab-link.tab-link-active {
    border-bottom-color: transparent;
    border-right-color: rgba(128, 128, 128, 0.25);
    opacity: 1;
  }
}

.remove-tab-link {
  position: absolute;
  top: 50%;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  line-height: 1.8rem;
  padding: 0;
  text-indent: -9999px;
  text-align: center;
  overflow: hidden;
  outline: 0;
  opacity: 0.75;
  cursor: pointer;
  color: currentColor;

  &:before {
    content: "\00D7";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-indent: 0;
    font-size: 1.25rem;
  }
}

.search {
  flex: 1;
}

.search-form {
  position: relative;

  input {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    color: currentColor;
    appearance: none;
    height: $header-height;
    line-height: $header-height / 2;
    padding: ($header-height / 4) 1rem;
    font-size: 1rem;

    &:focus {
      outline: 0;
    }
  }
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-top: thin solid rgba(gray, 0.25);
  max-height: calc(100vh - #{$header-height});
  overflow: auto;
  z-index: 2;
  box-shadow: 0 100vh 0 100vh rgba(gray, 0.5), 0 0.5rem 0.5rem rgba(gray, 0.125);
}

.search-result {
  display: block;
  padding: 1rem;
  line-height: 1;
  border-top: thin solid rgba(gray, 0.25);
  color: inherit;
  text-decoration: none;

  &:first-child {
    border-top-width: 0;
  }

  &:visited {
    color: currentColor;
  }

  &:hover,
  &.active {
    background-color: rgba(gray, 0.075);
  }
}

.search-result-title,
.search-result-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search-result-title {
  font-size: 0.9rem;
  font-family: $title-stack;
  margin: 0;
}

.search-result-description {
  margin: 0.5rem 0 0;
  opacity: 0.5;
  font-size: 0.75rem;

  &:first-letter {
    text-transform: capitalize;
  }
}

.search-error {
  text-align: center;
  padding: 3rem 1rem;
  opacity: 0.5;
}

.page-sections {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

$bar-height: 0.166rem;

.page-sections-button {
  position: relative;
  width: $header-height;
  height: $header-height;
  background-color: transparent;
  padding: 0;
  border: 0;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
  outline: 0;
  opacity: 0.75;
  cursor: pointer;
  color: currentColor;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $header-height / 2.5;
    height: $bar-height;
    background: currentColor;
    border-radius: 1rem;
    transition: all 100ms ease;
  }

  &:before {
    transform: translate(-50%, -275%);
    box-shadow: 0 ($bar-height * 4.5);
  }

  &:after {
    transform: translate(-50%, -50%);
  }
}

.page-sections.active {
  .page-sections-button {
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
      box-shadow: none;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.page-sections-nav {
  position: absolute;
  top: 85%;
  right: 0.75rem;
  background-color: white;
  max-width: calc(100vw - 1.5rem);
  max-height: calc(95vh - #{$header-height});
  overflow: auto;
  box-shadow: 0 0.25rem 2rem rgba(gray, 0.125);
  border-radius: 0.25rem;

  a {
    display: block;
    padding: 0.666rem 1rem;
    font-size: 0.8rem;
    color: currentColor;
    text-decoration: none;
    border-top: thin solid rgba(gray, 0.1);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 36rem;

    &:first-child {
      border-top-width: 0;
    }

    &:visited {
      color: currentColor;
    }

    &:hover,
    &:active {
      background-color: rgba(gray, 0.075);
    }

    .section-level {
      opacity: 0.5;
      font-size: 80%;
    }

    .section-level-2 {
      margin-left: 0.5rem;
    }

    .section-level-3,
    .section-level-4,
    .section-level-5 {
      margin-left: 1rem;
    }

    .section-label {
      font-family: $title-stack;
      margin-left: 0.5rem;
    }
  }
}

.footer {
  padding: 1rem;
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 2rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 100vh rgba(gray, 0.75);
  z-index: 1000;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  width: 25rem;
  overflow: auto;
  text-align: left;
  animation: modal 300ms ease forwards;
  opacity: 0;

  h3 {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@keyframes modal {
  from {
    transform: translate(-50%, -75%);
    opacity: 0;
  } to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: $header-height;
  height: $header-height;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
  outline: 0;
  opacity: 0.75;
  cursor: pointer;
  color: currentColor;
  transform: scale(0.75);

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $header-height / 2.5;
    height: $bar-height;
    background: currentColor;
    border-radius: 1rem;
    transition: all 100ms ease;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.settings-button {
  position: relative;
  width: $header-height;
  height: $header-height;
  padding: 0;
  border: 0;
  border-right: thin solid rgba(gray, 0.25);
  margin-right: 0.5rem;
  text-indent: -9999px;
  text-align: left;
  outline: 0;
  opacity: 0.75;
  cursor: pointer;
  background: url(../images/settings.svg) no-repeat center;
  background-size: 1.25rem;
}

.settings-hint {
  opacity: 0.75;
  font-size: 90%;
}

.toggle-label {
  display: flex;
  margin: 0 0 1rem;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  width: 3rem;
  height: 1.75rem;
  border-radius: 2rem;
  overflow: hidden;
}

.toggle-input,
.toggle-ui {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.toggle-input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;

  &:checked + .toggle-ui {
    background: currentColor;

    &:before {
      transform: translateX(1.25rem) translateY(-50%);
    }
  }
}

.toggle-ui {
  background: rgba(gray, 0.25);
  transition: all 200ms ease;
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 0.125rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0;
    background: white;
    border-radius: 50%;
    transition: all 200ms ease;
  }
}
