.loading {
  position: relative;
  height: calc(100vh - #{$header-height});

  .page-title {
    animation: loading 1.5s linear infinite;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 5rem;
    left: 5%;
    right: 5%;
    height: 40vh;
  }

  &:before {
    background: linear-gradient(
      to bottom,
      transparent,
      transparent 50%,
      currentColor 50%,
      currentColor
    );
    background-size: 100% 2.333em;
    animation: loadingLines 2s linear infinite;
    opacity: 0.25;
  }

  &:after {
    background: linear-gradient(rgba(white, 0), white),
      linear-gradient(90deg, rgba(white, 0), rgba(white, 0.5));
  }
}

.spinner {
  position: relative;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  height: 1.5rem;
  padding: 4rem 0;
  opacity: 0.5;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(-50%, -50%);
    border: thin solid transparent;
    border-radius: 50%;
    border-right-color: currentColor;
    animation: spin 500ms linear infinite;
  }
}

@keyframes loading {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes loadingLines {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
