@import "thumbs";

$sidebar-width: 20rem;

.root {
  counter-reset: section;

  p:first-of-type {
    b {
      font-family: "Playfair Display", "PT Serif", "Lora", Georgia, serif;
    }
  }

  .mediaContainer {
    margin: 1rem auto;
  }

  #coordinates {
    display: block;
    text-align: center;
  }

  h2 {
    margin: 0;
    counter-increment: section;

    .mw-headline {
      display: block;
      position: relative;
      padding: 1em 0;
      margin: 2em 0;

      &:before {
        content: counter(section) ".";
        display: block;
        font-size: 75%;
        font-weight: normal;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1.5em;
        margin-left: -0.75em;
        border-bottom: thin solid;
      }
    }
  }

  h3 {
    margin: 1em 0 2em;

    .mw-headline {
      display: block;
      text-align: center;
      padding-top: 1em;
    }
  }

  > .hatnote:first-child,
  > .hatnote:first-child + div.hatnote {
    text-align: center;
    font-size: 0.75em;
    margin: -1rem auto 2rem;
    max-width: 32rem;
    opacity: 0.75;
  }

  @supports (-webkit-hyphens: auto) {
    text-align: justify;
    -webkit-hyphens: auto;
  }
}

.quotebox {
  width: auto !important;
  max-width: 26rem;
  margin-left: auto !important;
  margin-right: auto !important;
  background: transparent !important;
  border: 0 !important;
}

.serif-stack {
  font-family: $serif-stack;
}

.sans-stack {
  font-family: $sans-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 2em 0 1em;
  position: relative;
  line-height: 1.333em;
  font-family: $title-stack;
}

h1,
h2 {
  text-align: center;

  + div.hatnote {
    margin: 1em auto;
    text-align: center;
    max-width: 450px;
  }
}

.page-title {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1.5em;
}

div.hatnote {
  padding: 0;
  line-height: 1.5em;
  text-align: center;
}

table {
  border: 0 !important;
  background-color: transparent !important;
  color: inherit !important;

  &.infobox {
    font-size: 90%;
    border: 0;

    &.geography,
    &.vcard,
    &.active {
      max-width: 100%;
    }

    th,
    td {
      background-color: transparent !important;
    }

    th[colspan="2"],
    .adr,
    .fn {
      font-weight: bold;
      text-align: center;
      padding: 1rem;
    }

    td[colspan="2"] {
      text-align: center;
    }

    th[scope="row"] {
      text-align: right;
      padding-right: 1.5rem;
    }

    th,
    td {
      padding: 0.25rem;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &.vertical-navbox {
    margin: 1em auto;
    float: none;
    border: 0;
    background-color: transparent;
    padding: 0;

    th {
      background-color: transparent;
    }
  }

  &.navbox {
    border: 0;
    padding: 0;

    th {
      background-color: transparent;
    }
  }

  &.wikitable {
    font-size: 90%;
    // border-right: thin solid #ddd;

    caption {
      margin: 0 0 0.5em;
    }

    th,
    td {
      padding: 0.25em 0.5em;
      border: thin solid #ddd;
    }

    img {
      background-color: white;
    }
  }
}

table.wikitable,
table.navbox {
  overflow-y: hidden;
  overflow-x: auto;
  display: block;
  max-width: 100%;
  width: 100%;

  td[style*=background] {
    opacity: 0.75;
  }
}

table.mbox-small {
  background: transparent;
  border: 0;
  font-style: italic;
}

.root > div[style="width:70%"] {
  width: auto;
}

.mw-editsection,
.noprint,
.metadata.plainlinks {
  display: none;
}

.plainlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

code,
pre {
  background-color: whitesmoke;
  border: 0;
  border-radius: 0.5em;
}

#toc {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  font-size: 1rem;
  line-height: 1.5em;
  background-color: white;
  padding: 1.5em;
  box-sizing: border-box;
  max-width: 100%;
  width: $sidebar-width;
  max-width: 100%;
  z-index: 1000;
  transform: translateX(-$sidebar-width);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen {
    display: block;
  }

  h2 {
    margin: 0;
    font-size: 1.2em;
    text-align: left;

    &:before,
    &:after {
      display: none;
    }
  }

  ul {
    margin: 1em 0;
    padding: 0 0 0 1em;

    ul {
      margin: 0;
    }

    a {
      color: inherit;
    }
  }

  > ul {
    padding: 0;
  }

  &.active {
    display: block;
    transform: translateX(0);
  }

  li {
    position: relative;
    list-style: none;

    &.toclevel-1 {
      margin: 0 0 0.5em;
    }
  }

  .tocnumber {
    font-size: 75%;

    &:after {
      content: ". ";
    }
  }
}

.root table h2 {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0 0 0.25em;
  color: inherit;
  margin: 0 0 0.25em;

  span {
    margin: 0;
    padding: 0;
  }
}

.reflist {
  font-size: 75%;

  @media (min-width: 48rem) {
    column-count: 2;
  }
}

.media {
  text-align: center;

  .page-title {
    font-size: 1.5rem;
  }

  img {
    display: block;
    margin: auto;
  }
}
