.lowContrast {
  &,
  .header {
    background: hsl(2000, 10%, 75%);
    color: #444;
  }

  img {
    opacity: 0.666;
  }
}

.settings-wrapper {
  background-color: white;
}

.darkMode {
  background-color: black;

  &,
  .header {
    background: black;
    color: white;
  }

  &.lowContrast {
    color: #aaa;
  }

  .toggle-ui:before,
  .search-results,
  .page-sections-nav {
    background: black;
  }

  .loading:after {
    background: linear-gradient(rgba(black, 0), black),
      linear-gradient(90deg, rgba(black, 0), rgba(black, 0.5));
  }

  .settings-button,
  .github-link,
  img.mwe-math-fallback-image-inline {
    filter: invert(0.9);
  }

  .modal {
    background: black;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.75);
  }

  .root .unsolved {
    background-color: #333;
    border-color: #444;
  }

  a {
    color: hsl(40, 90%, 40%);
    -webkit-tap-highlight-color: hsla(40, 90%, 40%, 0.25);

    &:visited {
      color: hsl(30, 90%, 40%);
    }

    &:focus,
    &:hover,
    &:active {
      color: hsl(40, 90%, 30%);
      outline: 0;
    }
  }

  code, pre {
    background-color: #333;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background: black;
  }
}

.sansSerif {
  font-family: $sans-stack;

  h1, h2, h3, h4, h5, h6 {
    font-family: $sans-stack;
  }
}
