.thumb {
  margin: 2em auto;
  text-align: center;

  .thumbinner {
    margin: auto;
    width: auto;
  }

  .thumbcaption {
    font-size: 75%;
    line-height: 1.5em;
  }

  .thumbimage {
    display: inline-block;
  }
}
