:root {
  color: $color-dark;
  font-family: $serif-stack;
  font-size: 110%;
  line-height: 1.666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;

  @media (min-width: 36rem) {
    font-size: 120%;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #1565c0;

  &:visited {
    color: #673ab7;
  }

  &:focus,
  &:active {
    color: #0d47a1;
    outline: 0;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-stack;
  margin: 2em 0 1em;
  position: relative;
  line-height: 1.333;
  clear: both;
}

h1,
h2,
.center {
  text-align: center;
}

dt,
dd {
  display: block;
  padding: 0;
  margin: 1rem 0;
}

dt {
  font-weight: bold;
  font-family: $title-stack;
}

sup.reference {
  font-size: x-small;
}

abbr {
  cursor: help;
}
