:root {
  color: $color-dark;
  font-family: $serif-stack;
  font-size: 110%;
  line-height: 1.666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(black, 0);

  @media (min-width: 36rem) {
    font-size: 120%;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: hsl(210, 90%, 40%);
  -webkit-tap-highlight-color: hsla(210, 90%, 40%, 0.25);

  &:visited {
    color: hsl(250, 90%, 40%);
  }

  &:focus,
  &:hover,
  &:active {
    color: hsl(210, 90%, 20%);
    outline: 0;
  }
}

button {
  background: transparent;
  font-size: 100%;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-stack;
  margin: 2em 0 1em;
  position: relative;
  line-height: 1.333;
  clear: both;
}

h1,
h2,
.center {
  text-align: center;
}

dt,
dd {
  display: block;
  padding: 0;
  margin: 1rem 0;
}

dt {
  font-weight: bold;
  font-family: $title-stack;
}

sup.reference {
  font-size: x-small;
}

abbr {
  cursor: help;
}

table {
  width: 100%;
  margin: 1.5rem auto;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
