@import url("./page.css");

html {
  font-family: Cardo, Georgia, serif;
  font-size: 100%;
  line-height: 1.666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: dodgerblue;
}

a:visited {
  color: mediumpurple;
}

a:focus {
  color: black;
  outline: 0;
}

img {
  max-width: 100%;
}

@media (min-width: 36rem) {
  html {
    font-size: 110%;
  }
}

body {
  margin: 0;
  padding: 0;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: Playfair Display, Cardo, Georgia, serif;
}

.container {
  max-width: 42rem;
  margin: auto;
  padding: 1.5rem;
  text-align: left;
}
