$serif-stack: "PT Serif", "Lora", Georgia, serif;
$sans-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$title-stack: "Playfair Display", $serif-stack;
$header-height: 3.25rem;

@import "typography";
@import "layout";
@import "home";
@import "page";
@import "loading";
@import "settings";
